::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.3);
    border: 0px none #ffffff;
    border-radius: 30px;
    &:hover {
        background: #ffffff;
    }
    &:active {
        background: #ffffff;
    }
}

::-webkit-scrollbar-track {
    background: none;
    border: 0px none #ffffff;
    border-radius: 5px;
    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }
    &:active {
        background: rgba(255, 255, 255, 0.7);
    }
}

::-webkit-scrollbar-corner {
    background: transparent;
}